
00001 - AGS File Conversion v3.0.0.200505/1-SGO_SI_ROM-0_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/1-SGO_SI_ROM.ags
00001 - AGS File Conversion v3.0.0.200505/2-SGO_SI_ROM-1-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/2-SGO_SI_ROM-1_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/2-SGO_SI_ROM.ags
00001 - AGS File Conversion v3.0.0.200505/3-SGO_SI_SK04-2-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/3-SGO_SI_SK04-2_converted.xlsx
dist/00001 - AGS File Conversion v3.0.0.200505/VCRUNTIME140.dll
dist/00001 - AGS File Conversion v3.0.0.200505/unicodedata.pyd
dist/00001 - AGS File Conversion v3.0.0.200505/ucrtbase.dll
dist/00001 - AGS File Conversion v3.0.0.200505/select.pyd
dist/00001 - AGS File Conversion v3.0.0.200505/python37.dll
dist/00001 - AGS File Conversion v3.0.0.200505/pyexpat.pyd
dist/00001 - AGS File Conversion v3.0.0.200505/libssl-1_1-x64.dll
dist/00001 - AGS File Conversion v3.0.0.200505/libcrypto-1_1-x64.dll
dist/00001 - AGS File Conversion v3.0.0.200505/Include/pyconfig.h
dist/00001 - AGS File Conversion v3.0.0.200505/Compilation of AGS.xlsx
dist/00001 - AGS File Conversion v3.0.0.200505/base_library.zip
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-utility-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-time-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-string-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-stdio-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-runtime-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-process-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-math-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-locale-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-heap-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-filesystem-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-environment-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-convert-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-crt-conio-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-util-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-timezone-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-sysinfo-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-synch-l1-2-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-synch-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-string-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-rtlsupport-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-profile-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-processthreads-l1-1-1.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-processthreads-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-processenvironment-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-namedpipe-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-memory-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-localization-l1-2-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-libraryloader-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-interlocked-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-heap-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-handle-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-file-l2-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-file-l1-2-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-file-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-errorhandling-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-debug-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-datetime-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/api-ms-win-core-console-l1-1-0.dll
dist/00001 - AGS File Conversion v3.0.0.200505/_ssl.pyd
dist/00001 - AGS File Conversion v3.0.0.200505/_socket.pyd
dist/00001 - AGS File Conversion v3.0.0.200505/_lzma.pyd
dist/00001 - AGS File Conversion v3.0.0.200505/_hashlib.pyd
dist/00001 - AGS File Conversion v3.0.0.200505/_elementtree.pyd
dist/00001 - AGS File Conversion v3.0.0.200505/_decimal.pyd
dist/00001 - AGS File Conversion v3.0.0.200505/_bz2.pyd
dist/00001 - AGS File Conversion v3.0.0.200505/7-SGO_SI_LORONGSEMANGKA.ags
dist/00001 - AGS File Conversion v3.0.0.200505/6-SGO SI LIM CHU KANG SINGAPORE.ags
dist/00001 - AGS File Conversion v3.0.0.200505/5-SGO SI LIM CHU KANG SINGAPORE.ags
dist/00001 - AGS File Conversion v3.0.0.200505/5-SGO SI LIM CHU KANG SINGAPORE-0-BASE.xlsx
dist/00001 - AGS File Conversion v3.0.0.200505/00001 - AGS File Conversion v3.0.0.200505.exe.manifest
dist/00001 - AGS File Conversion v3.0.0.200505/00001 - AGS File Conversion v3.0.0.200505.exe
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/7-SGO_SI_LORONGSEMANGKA-5_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/7-SGO_SI_LORONGSEMANGKA-11_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/6-SGO SI LIM CHU KANG SINGAPORE-4_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/6-SGO SI LIM CHU KANG SINGAPORE-10_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/5-SGO SI LIM CHU KANG SINGAPORE-9_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/5-SGO SI LIM CHU KANG SINGAPORE-3_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/3-SGO_SI_SK04-8_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/3-SGO_SI_SK04-2_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/2-SGO_SI_ROM-7_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/2-SGO_SI_ROM-1_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/1-SGO_SI_ROM-6_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/XLSX_converted FOLDER - Compilation/1-SGO_SI_ROM-0_converted.xlsx
00001 - AGS File Conversion v3.0.0.200505/Compilation of AGS - combined.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/7-SGO_SI_LORONGSEMANGKA-5-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/7-SGO_SI_LORONGSEMANGKA-11-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/6-SGO SI LIM CHU KANG SINGAPORE-4-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/6-SGO SI LIM CHU KANG SINGAPORE-10-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/5-SGO SI LIM CHU KANG SINGAPORE-9-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/5-SGO SI LIM CHU KANG SINGAPORE-3-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/3-SGO_SI_SK04-8-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/3-SGO_SI_SK04-2-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/2-SGO_SI_ROM-7-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/2-SGO_SI_ROM-1-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/1-SGO_SI_ROM-6-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/AGS TO XLSX - Compilation/1-SGO_SI_ROM-0-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/5-SGO SI LIM CHU KANG SINGAPORE-3-BASE.xlsx
00001 - AGS File Conversion v3.0.0.200505/3-SGO_SI_SK04.ags
00001 - AGS File Conversion v3.0.0.200505.spec
*.ags
*.csv
*.xlsx
00002 - AGS Conversion submodule/AGS to CSV - Compilation/1-SGO_SI_ROM.txt
00002 - AGS Conversion submodule/AGS to CSV - Compilation/1-SGO_SI_ROM.txt
00002 - AGS Conversion submodule/.idea/00002 - AGS Conversion submodule.iml
00002 - AGS Conversion submodule/.idea/inspectionProfiles/profiles_settings.xml
00002 - AGS Conversion submodule/.idea/misc.xml
00002 - AGS Conversion submodule/.idea/modules.xml
00002 - AGS Conversion submodule/.idea/vcs.xml
00002 - AGS Conversion submodule/Workshop1.py
00003 - File Finder/.idea/00003 - File Finder.iml
00003 - File Finder/.spec
00003 - File Finder/__pycache__/File Finder and Tabulation.cpython-37.opt-1.pyc
00003 - File Finder/__pycache__/File Finder and Tabulation.cpython-37.pyc
00003 - File Finder/__pycache__/File Finder and Tabulation.cpython-38.opt-1.pyc
00003 - File Finder/__pycache__/File Finder and Tabulation.cpython-38.pyc
00003 - File Finder/build/.spec/.spec.exe.manifest
00003 - File Finder/build/.spec/base_library.zip
00003 - File Finder/dist/File Finder and Tabulation.exe
00003 - File Finder/File Finder and Tabulation.py
00003 - File Finder/File Finder and Tabulation.spec
00003 - File Finder/.idea/00003 - File Finder.iml
00000 - Github Pages/darellchua2.github.io/
